body{
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;
}

.main{
    border: 2px solid #999999;
    width: 950px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding-left: 20px;
}
.nav--container01,
.nav--container02,
.nav--container03{
    display: flex;
    align-items: center;
}

.nav--container02 {
    width: 600px;
}

.nav--container02 input{
    width: 100%;
    padding: 6px 3px;
    border: 1px solid #cccccc;
    border-right: none;
}
.nav__input::placeholder{
    font-size: 16px;
    padding-left: 4px;
}

.nav__lines{
    width: 20px;
    cursor: pointer;

}
.nav__logo{
    width: 120px;
    cursor: pointer;

}
.nav__glass{
    width: 15px;
    border: 1px solid #cccccc;
    padding: 6px 30px;
    cursor: pointer;
    background-color: #f8f8f8;
}



.nav--container03 {
    width: 150px;
    display: flex;
    justify-content: space-evenly;


}
.nav--container03 img{
    cursor: pointer;
}

.nav--container03 span{
    color: white;
    background-color: #167ac6;
    padding: 5px 12px;
    border-radius: 2px;
    font-size: 11px;
    cursor: pointer;
}

.blue-side {
  display:flex;
  background-color: #167ac6;
  color: white;
  padding-left: 10px;
  align-items: center;
  font-size: 12px;

}
.blue-side img {
  width: 25px;
  height: 25px;
}

.white-side {
  display:flex;
  justify-content: space-between;
  background-color: white;
  padding: 0 20px;
  font-size: 12px;
}
.span__blue {
  cursor: not-allowed;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #168dcf;
}

.blue-bar {
  margin: 15px 0px;
  border: 2px solid #167ac6;
}

.white--container{
    display: flex;
    align-items: center;

}
.white--container span{
    padding: 2px;
}

.white--container-B{
    color: #167ac6;
    font-size: 10px;
    cursor: pointer;
}

.body--structure{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    gap: 10px;
    
}

.body--leftSide iframe{
    margin: 10px 0;
}
